<!doctype html>
<html lang="en" ng-app="PSAScholarships">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scholarships presented by the William and Mary Peer Scholarsip Advisors">
    <title>PSA Scholarships</title>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>
  <body class="page">

    <div class="header-divider"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-2 hidden-sm hidden-xs psa-logo"><%= image_tag("psas_small.png", alt: "Peer Scholarship Advisors Logo", width: "100%", class: "") %></div>
          <div class="col-xs-12 col-sm-12 col-md-8">
            <h1 class="title text-center" id="title">Scholarship Search</h1>
            <h4 class="sub-title text-center">Presented by the The Charles Center Peer Scholarship Advisors <br> at William and Mary</h4>
          </div>
          <div class="col-xs-2 hidden-sm hidden-xs wm-logo"><%= image_tag("wm_small.png", alt: "William and Mary Logo", width: "100%", class: "") %></div>
        </div>
      </div>
      <div class="header"></div>
      <div class="header-divider header-divider-bottom"></div>

    <div class="list-body" ng-controller="ScholarshipsController">
      <div>
        <div class="container">
          <div class="row first-row">
            <div class="col-sm-3">
              <h5>Academic Status</h5>
              <select class="selectpicker" ng-model="filters.studentTypes" title="Any" ng-options="type as type for type in studentTypes" multiple></select>
            </div>
            <div class="col-sm-3">
              <h5>Area of Study</h5>
              <select class="selectpicker" ng-model="filters.areasOfStudy" title="Any" ng-options="area as area for area in areasOfStudy" multiple></select>
            </div>
            <div class="col-sm-3">
              <h5>Scholarship Purpose</h5>
              <select class="selectpicker" ng-model="filters.purposes" title="Any" ng-options="purpose as purpose for purpose in purposes" multiple></select>
            </div>
            <div class="col-sm-3">
              <h5>World Region</h5>
              <select class="selectpicker" ng-model="filters.regions" title="Any" ng-options="region as region for region in regions" multiple></select>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row second-row">
            <div class="col-sm-3">
              <h5>Scholarship Duration</h5>
              <select class="selectpicker" ng-model="filters.seasons" title="Any" ng-options="season as season for season in seasons" multiple></select>
            </div>
            <div class="col-sm-3">
              <h5>Gender</h5>
              <select class="selectpicker" ng-model="filters.genders" title="Either" ng-options="gender as gender for gender in genders" multiple></select>
            </div>
            <div class="col-sm-3">
              <h5>US Citizenship</h5>
              <select class="selectpicker" ng-model="filters.citizenships" title="Either" ng-options="cit as cit for cit in citizenships" multiple></select>
            </div>
            <div class="col-sm-3">
              <h5>Financial Need</h5>
              <select class="selectpicker" ng-model="filters.financialNeeds" title="Either" ng-options="fin as fin for fin in financialNeeds" multiple></select>
            </div>
          </div>
        </div>
      </div>

      <div class='uil-ring-css loading-ring' style='-webkit-transform:scale(0.65)' ng-hide="scholarships"><div></div></div>

      <div class="container">
        <table class="table table-striped master-list" ng-show="scholarships">
          <thead>
            <tr>
              <th><h3>Scholarship Title</h3></th>
              <th>W&amp;M Link</th>
              <th>External Link</th>
            </tr>
          </thead>
          <tbody ng-repeat="scholarship in scholarships | orderBy:'-sortable_title':true">
            <tr ng-if="::scholarship.display" class="scholarship"  ng-click="scholarship['expand'] = !scholarship['expand']; toggleColor = !toggleColor" ng-class="{'selected' : toggleColor}">
              <td class="scholarship-name">{{::scholarship.title}}</td>
              <td><a target="_blank" ng-href="{{::scholarship.wm_link}}" ng-show="::scholarship.wm_link" ng-click="$event.stopPropagation()">W&amp;M info</a></td>
              <td><a target="_blank" ng-href="{{::scholarship.link}}" ng-show="::scholarship.link" ng-click="$event.stopPropagation()">more info</a></td>
            </tr>
            <tr ng-if="scholarship['expand']" class="innershadow" ng-class="{trSlide: !mobilecheck()}">
              <td class="expansion" colspan="42">
                <div class='slide_outer'>
                  <div class ="container">
                    <div class="row">
                      <div class="col-sm-12">
  							  	    <b>Description:</b>
                    	  <span class="characteristics">{{::scholarship['Description']}}</span>
                      </div>
                    </div>
      						  <div class="row">
  							      <div class="col-sm-4">
                      	<b>Academic Status:</b>
  							        <span class="characteristics">{{::stringFromAttributes(scholarship, studentTypes)}}</span><br>
                      	<b>Area of Study:</b>
  							        <span class="characteristics">{{::stringFromAttributes(scholarship, areasOfStudy)}}</span><br>
                      	<b>Scholarship Purpose:</b>
  								      <span class="characteristics">{{::undefToNotSpecified(stringFromAttributes(scholarship, purposes))}}</span><br>
                      </div>
                      <div class="col-sm-4">
                        <b>Region:</b>
  							        <span class="characteristics">{{::stringFromAttributes(scholarship, regions)}}</span><br>
                      	<b>Season:</b>
  						        	<span class="characteristics">{{::stringFromAttributes(scholarship, seasons)}}</span><br>
                      	<b>Citizenship Required:</b><span class="characteristics">{{::trueToYes(scholarship["Citizenship required"])}}</span><br>
                      </div>
                      <div class="col-sm-4">
  								      <b>Financial Need Required:</b><span class="characteristics">{{::trueToYes(scholarship["Financial need required"])}}</span><br>
  							        <b>Open To Both Men And Women:</b><span class="characteristics">{{::trueToYes(scholarship["Open to Men and Women"])}}</span><br>
                        <b>Award Amount:</b>
  							        <span class="characteristics">{{::undefToNotSpecified(scholarship["Award Amount"])}}</span><br>
  						      	</div>
					          </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr class="line">

    <div>
    <p class="contact-us">Did we miss anything? Have a scholarship to add? <a href="http://www.wm.edu/sites/scholarships/peerscholarshipadvisors/">Email us</a> and let us know!</p>
    </div>

    <div class="footer-divider"></div>
    <div class="footer container-fluid">
      <div class="col-sm-6">
        <p class="psa-message">Have a question? <a class="footer-link" href="http://www.wm.edu/sites/scholarships/peerscholarshipadvisors/">Contact the PSAs!</a></p>
      </div>
      <div class="col-sm-6">
        <p class="charles-center-message"><a class="footer-link" href="http://www.wm.edu/as/charlescenter/">The W&amp;M Charles Center</a></p>
      </div>
    </div>

  </body>
</html>
