<!doctype html>
<html lang="en" ng-app="scholarships">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Nate Owen</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/side-menu.css">
        <!--<![endif]-->

</head>
<body link="#777" alink="#777" vlink="#777">

    <div id="main">
        <div class="header">
            <h1>Nate Owen</h1>
            <h2>Software Developer, Mathematician, Bando-Commando</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead"><%= image_tag("working.png", size: "20x20") %> What am I working on now?</h2>
            <p>
                A single page app built with AngularJS to serve and filter some
                information about internal and external scholarships available
                to the William and Mary community. I have the data
                <a href="https://docs.google.com/spreadsheets/d/1oxGfROK6LVhK5U62lJydSL2YFybUEk-vmOD6Q-9NYnA/edit?usp=sharing" alt="W\&M Scholarships">here</a>,
                and I plan to tie the app to this google sheet so that my fellow
                Peer Scholarship Advisors can easily update the content of the app.
                <br><br>
                I'm beginning research with Professor Yu Min Chung of W&M's
                Mathematics department. We're working to identify the portions
                of an algorithm that he's developed that are parallelizable.
            </p>

            <h2 class="content-subhead"><%= image_tag("history.png", size: "20x20") %> History</h2>

                <div class="pure-g">
                    <div class="pure-u-1-6"><a href="http://www.vts.com"><%= image_tag("vts.jpg", alt: "VTS", class: "pure-img-responsive") %></a></div>
                    <div class="pure-u-1-6"><a href="http://www.aiddata.org"><%= image_tag("aiddata2.png", alt: "Aid Data", class: "pure-img-responsive") %></a></div>
                    <div class="pure-u-1-6"><a href="http://www.wm.edu/sites/scholarships/peerscholarshipadvisors/index.php"><%= image_tag("wm.jpg", alt: "William and Mary", class: "pure-img-responsive") %></a></div>
                    <div class="pure-u-1-6"><a href="http://www.beachstreetusa.com/"><%= image_tag("beach_street.png", alt: "Beach Street All Stars", class: "pure-img-responsive") %></a></div>
                    <div class="pure-u-1-6"><a href="http://www.elizabethriver.org/"><%= image_tag("erp.png", alt: "Elizabeth River Project", class: "pure-img-responsive") %></a></div>
                    <div class="pure-u-1-6"><a href="http://jerseysurf.org/"><%= image_tag("surf.jpg", alt: "Jersey Surf Drum and Bugle Corps", class: "pure-img-responsive") %></a></div>
                </div>

            <h2 class="content-subhead"><%= image_tag("coding.png", size: "20x20") %> Projects</h2>
            <p>
                <a href="http://steerclear.wm.edu/">Steer Clear W&M (angularjs)</a><br>
                <a href="https://chrome.google.com/webstore/detail/wm-rate-my-professor-exte/bodghlgnphmjhiggfplkaielbfflhkeo?hl=en-US">W&M Rate My Professor Chrome Extension (js, jquery)</a><br>
                <a href="https://github.com/newOnahtaN/class-notifier">Class Notifier (rails)</a><br>
                <a href="http://devpost.com/software/goseek-7g7q2">GoSeek iOS App (objective c)</a><br>
                <a href="https://github.com/newOnahtaN/Maze">3-D Android Maze Game</a><br>
                <a href="https://github.com/dashofcode/tracker_api">Pivotal Tracker API Ruby Gem (open source contributor)</a><br>
                <a href="https://github.com/viewthespace/pivotal-deployment-emailer">Pivotal Tracker Deployment Report Emailer (rails)</a><br>
                <a href="https://github.com/newOnahtaN/Genie-GENe-Cataloger">GENe Bioinformatic Application (python)</a>
            </p>


            <h2 class="content-subhead"><%= image_tag("news.png", size: "20x20") %> In the press</h2>
            <p>
                <a href="http://www.wm.edu/news/stories/2014/two-wm-students-accepted-to-fulbright-summer-institute-in-uk123.php">Two students to study in UK as part of Fulbright Summer Institute</a>
                 - <a href="https://nathanowenfulbright.wordpress.com/">(and personal blog)</a>
                <br><br><br>
            </p>

            <div class="pure-g">
                <div class="pure-u-1-5"></div>
                <div class="pure-u-1-5"><a href= "https://github.com/newOnahtaN"><%= image_tag("github_logo.png", alt: "Github", size: "44x44", class: "float-right") %></a></div>
                <div class="pure-u-1-5"></div>
                <div class="pure-u-1-5"><a href= "https://www.linkedin.com/in/nathancoleowen"><%= image_tag("linkedin_logo.png", alt: "Linkedin", size: "44x44") %></a></div></a>
                <div class="pure-u-1-5"></div>
            </div>


        </div>



    </div>

    <script src="js/ui.js"></script>

</body>
</html>
